*{
    margin: 0;
    padding: 0;
    color: black;
    cursor: pointer;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.header{
    display: inline-block;
    font-size: 2.5em;
    height: 60px;
    background-color: rgb(0, 0, 0);
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px black;
    padding: 15px 0 0 10px; /* Adjusted padding */
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the total width */
    section{
        display: grid;
        grid-template-columns: repeat(3,30px);
        justify-content: center;
    }
    .point{
        color: white;
        margin-right: 20px;
    }
}

.choice{
    display: flex;
    justify-content: center;
    height: 140px;
}

.container{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.wrapper{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    width: 130px;
    font-size: 2.5em;
    transform: scale(250%);
}

.megawarp
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.col{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 3px solid black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    height: 50px;
}

.cell{
    border: 3px solid black;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    padding:0 0 0 7px ;
    
}
#c1 ,#c4 ,#c7{
    border-left: 0;
}
#c3 ,#c6 ,#c9{
    border-right: 0;
}
#r3{
    border-bottom: 0;
}
.first{
    font-size: 4em;
    position: absolute;
}

#w1
{
    display: none;
    position: absolute;
    transform:translate(38px,-10px) rotate(20deg);
}

#w2
{
    display: none;
    position: absolute;
    transform:translate(39px,-20px) rotate(159deg);   
}

#b1
{
    display: none;
    position: absolute;
    transform:translate(5px,-29px);
}

#b2
{
    display: none;
    position: absolute;
    transform:translate(47px,-29px);
}

#b3
{
    display: none;
    position: absolute;
    transform:translate(93px,-29px);
}

#a1
{
    display: none;
    position: absolute;
    transform:translate(25px,-150px) scaleX(1.55);
}

#a2
{
    display: none;
    position: absolute;
    transform:translate(25px,-100px) scaleX(1.55);
}

#a3
{
    display: none;
    position: absolute;
    transform:translate(25px,-45px) scaleX(1.55);
}

button{
    margin: 10px 80px 0 80px;
    background-color: white;
    border: 4px solid rgb(41, 41, 41);
    width: 150px;
    height: 60px;
    font-size: 3em;
    z-index: 100;
    border-radius: 5px;
    transition: background-color 0.s ease;
}

  button:hover {
    background-color: #868686;
  }
  
  button:active {
    background-color: #525252;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(29, 29, 29, 0.5);
  }